# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts
skills-lock.json
.gitignore
.agents/skills/copywriting/evals/evals.json
.gitignore
.agents/skills/copywriting/references/copy-frameworks.md
.gitignore
.agents/skills/frontend-design/LICENSE.txt
.agents/skills/frontend-design/SKILL.md
.gitignore
.agents/skills/copywriting/SKILL.md
.agents/skills/copywriting/references/natural-transitions.md
